.header-admin {
  .btn-signout {
    position: absolute;
    top: 15px;
    right: 25px;
  }
}

.sidebar-admin {
  padding: 15px;
}

.user-details {
  padding: 25px;

  .user-card {
    margin-bottom: 25px;
  }
}